/*-----------------------------------POPUP BUSCADOR BARAJAS --------------------------------------*/
.popupTablaBarajasBuscador {
	display: flex;
    flex-direction: column;
	top: 95px;
    left: 50px;
    height: 62px;
    width: 685px;
    padding: 30px;
    z-index: 3;
}

.contenidoBuscador {
	display: flex;
	flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.textoNombreCarta {
    position: absolute;
    top: 9px;
    left: 165px;
}

.textoOrdenacion {
    position: absolute;
    top: 9px;
    left: 535px;
}

.inputNombreCarta {
    align-items: center;
    width: 375px;
	margin-top: -30px;
}

.botonesOrden {
	display: flex;
    gap: 12px;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 12px;
}

.botonesOrdenLikes {
	display: flex;
    gap: 12px;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 12px;
}

.botonOrden {
    display: flex;
    width: 100px;
    margin-top: -5px;
    margin-left: 25px;
    align-items: center;
    justify-content: center;
}

.actualizar {
	display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

/* -----------------------------------------POPUP TABLA BARAJAS--------------------------------------- */
.popupTablaBarajas {
	display: flex;
    flex-direction: column;
    top: 246px;
    left: 50px;
    height: 572px;
    width: 685px;
    padding: 30px;
    z-index: 1;
}

.tablaCell {
    display: flex;
    position: absolute !important;
    align-items: center;
    gap: 15px;
    padding: 20px;
    font-size: 16px;
    pointer-events: none;
}

/* Imagen de la carta */
.tablaCell .fondo {
    position: absolute;
    left: -72px;
    top: -5px;
	height: 137px;
    z-index: 1;
    object-fit: cover;
    clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
}

.tablaCell .portada {
    width: 100px;
    margin-left: 55px;
    transform: rotate(8deg);
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: -10px;
    z-index: 2;
}

.tablaCell span {
	margin-top: -35px;
    margin-left: 65px;
    color: #68768A;
}


#tablaBarajas {
	margin-top: 15px;
    height: calc(95% + 0px);
    max-height: calc(100% + 0px);
}

.textoActualizar {
    display: flex;
    margin-left: 10px;
	margin-top: 8px;
}

#botonActualizar:hover {
	animation: fa-spin 2s infinite linear;
}

.tabulator-cell {
    left: 15px;
    height: 135px !important;
    width: 635px !important;
    margin-top: 12px;
}

/* --------------------------- POPUP MOSTRAR BARAJA ----------------------------------------- */
.popupMostrarBaraja {
	display: flex;
    flex-direction: column;
    top: 95px;
    left: 847px;
    height: 724px;
    width: 984px;
    padding: 30px;
}

.mostrarCartas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    max-height: 642px;
    overflow-y: auto;
    padding: 10px;
    margin-top: 10px;
}

.carta {
  width: 225px;
  cursor: pointer;
  transition: transform 0.2s;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.carta:hover {
	transform: scale(1.03);
}

.btnMeGusta {
	position: absolute;
    left: 350px;
    top: 727px;
    width: 155px;
}

.btnGuardarBaraja {
	position: absolute;
    left: 522px;
    top: 727px;
    width: 155px;
}

.textoCreador {
    display: flex;
    margin-left: 10px;
}

/*---------------------------- POPUP CONFIRMACION ELIMINAR ----------------------------*/
.contenidoConfirmarMeGusta {
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 414px;
}

.contenidoConfirmarGuardar {
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 367px;
}

.botoneraConfirmar {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.textoConfirmacion {
    display: flex;
    text-align: center;
}

.botones {
	width: 115px;
}

.botonGuardar {
    padding: 10px 20px;
    border: 2px solid #007bb5;
    border-radius: 30px;
    background-color: cornflowerblue;
    color: white;
    font-weight: normal;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.5s;
    transition: transform 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.botonGuardar:hover {
	transform: scale(1.03);
	border: 2px solid #005f87;
	background-color: #2F65C8;
}


.botonCancelar {
    padding: 10px 20px;
    margin: 0px 15px;
    border: 2px solid #B85C5C;
    border-radius: 30px;
    background-color: #E07A7A;
    color: white;
    font-weight: normal;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.5s;
    transition: transform 0.2s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

.botonCancelar:hover {
    transform: scale(1.03);
    border: 2px solid #9C4A4A;
    background-color: #C75C5C;
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}
