/* Primera fila de apps (los 4)*/
.iconosAplicaciones {
    display: grid;
    position: absolute;
    grid-template-columns: repeat(4, 180px);
    column-gap: 180px;
    row-gap: 100px;
    top: 240px;
    left: 305px;
    justify-content: center;
}


.iconoApp {
    font-size: 66px;
    color: #008CBA;
    cursor: pointer;
    transition: color 0.2s ease;
}

.iconoApp:hover {
	transform: scale(1.2);
    color: #007bb5;
}

.iconoContenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.iconoApp {
    font-size: 48px;
    color: #008CBA;
    cursor: pointer;
    transition: transform 0.2s;
}

.iconoApp:hover {
    color: #007bb5;
}


/*-------------------------------------------------- MENU PRINCIPAL (IGNORAR LO DE ARRIBA DE MOMENTO, SE BORRARA MAS ADELANTE) ---------------------------------------------------------*/

/*-------------------------------------------POPUP INCLUIR ID JUEGO ------------------------------------------------*/

.incluirIdJuego {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
}

/*------------------------- CONTENIDO POPUP INCLUIR ID JUEGO --------------------------*/
.contenidoIncluirIdJuego {
    position: relative;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 20;
    width: 300px;
}

/*------------------ LABEL POPUP INCLUIR ID JUEGO ------------------*/
.labelIncluirIdJuego {
  	font-size: 14px;
	font-family: Arial, sans-serif;
    font-weight: 600;
}

/*------------------ IMAGEN POPUP INCLUIR ID JUEGO ------------------*/
.imagenIncluirIdJuego {
	width: 30px;
}


/*------------------INPUT POPUP INCLUIR ID JUEGO----------------------*/
.inputIncluirIdJuego {
	align-items: center;
	width: 90%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid #008CBA;
    font-weight: normal;
    font-size: 1em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.inputIncluirIdJuego:hover {
    border-color: #007bb5;
}

.inputIncluirIdJuego:focus {
	outline: none; /* eliminar lo que pone por defecto el navegador */
    border-color: #005f87;
}


/*---------BOTON POPUP INCLUIR ID JUEGO -------*/
.botonIncluirIdJuego {
	padding: 10px 20px;
    margin: 0px 15px;
    border: 2px solid #007bb5;
    border-radius: 10px;
    background-color: #008CBA;
    color: white;
    font-weight: normal;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: transform 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

.botonIncluirIdJuego:hover {
	transform: scale(1.03);
	border: 2px solid #005f87;
	background-color: #007bb5;
}

/*---------------------------------*/
.appMenu {
	display: flex;
	width: fit-content;
  	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
   	box-shadow: 0 4px 40px rgba(0, 0, 0, 0.5);
   	cursor: pointer;
   	
   	/*transiciones*/
   	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imagenApp {
	width: 80px;
	/*transiciones*/
   	transition: transform 0.2s ease;
}

.labelApp {
	font-family: Arial, sans-serif;
    padding: 10px;
    font-weight: bold;
    font-size: 1.25em;
    text-align: center;
    user-select: none;
    width: 140px;
    height: 35px;
    transition: color 0.3s ease;
    transition: transform 0.2s;
    color: #68768A;
}

.appMenu:hover {
    transform: scale(1.03); /* aumenta un 5% todo el contenedor */
    box-shadow: 0 1px 40px rgba(0, 0, 0, 0.5)
}