.expansionLogo {
    width: 116px;
}

/* -----------------------------------------POPUP BUSCADOR CARTAS--------------------------------------- */
.buscadorCartas {
	display: flex;
    flex-direction: column;
    position: absolute;
    top: 218px;
    left: 50px;
    height: 606px;
    /* width: 451px; */
    max-width: fit-content;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 70px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
/*--------------------------- TODOS LOS LABELS ----------------------*/
.label {
    font-family: Arial, sans-serif;
    padding: 10px;
    font-weight: bold;
    font-size: 1.1em;
    color: #68768A;
}

/* ---------------------------EXPANSIONES BUSCADOR CARTAS------------------------------------------- */
.selectExpansionCarta {
    margin-top: 5px;
    justify-content: flex-start;
}
.expansion {
    display: flex;          /* organiza los hijos en fila */
    flex-wrap: wrap;        /* permite que los hijos pasen a la siguiente fila si no caben */
	align-items: left;
    gap: 10px;
    margin: 5px;
}
.expansionCarta {
    display: flex;
    padding: 1px;
    border: 2px solid #8EA0B8;
    border-radius: 10px;
    cursor: pointer;
    transition: border-color 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.expansionCarta:hover {
	transform: scale(1.03);
	border: 2px solid #7A8BA3;
}

.expansionCarta.expansionSeleccionada {
    background-color: #B0B0B0;
    border-color: #68768A;
}


/* ----------------------------------INPUTS BUSCADOR CARTAS---------------------------------------- */
.inputBuscadorCartas {
	align-items: center;
	width: 362px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid #8EA0B8;
    font-weight: normal;
    font-size: 1em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.inputBuscadorCartas:hover {
    border-color: #7A8BA3;
}

.inputBuscadorCartas:focus {
	outline: none; /* eliminar lo que pone por defecto el navegador */
    border-color: #68768A;
}

/* ---------------------------RAREZAS BUSCADOR CARTAS------------------------------------------- */
.selectRarezasCarta {
    margin-top: 5px;
    justify-content: flex-start;
}
.rareza {
    display: flex;          /* organiza los hijos en fila */
    flex-wrap: wrap;        /* permite que los hijos pasen a la siguiente fila si no caben */
	align-items: left;
    gap: 10px;
    margin: 5px;
}
.rarezaCarta {
    display: flex;
    padding: 5px;
    border: 2px solid #8EA0B8;
    border-radius: 10px;
    cursor: pointer;
    transition: border-color 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    align-items: center;
    width: 75px;
    justify-content: center;
    flex-wrap: nowrap;

}

.rarezaCarta:hover {
	transform: scale(1.03);
	border: 2px solid #7A8BA3;
}

.rarezaCarta.rarezaSeleccionada {
    background-color: #B0B0B0;
    border-color: #68768A;
}


/* --------------------------- ENERGIAS BUSCADOR CARTAS --------------------------- */
.selectEnergiasCarta {
	margin-top: 5px;
    justify-content: flex-start;
}
.energia {
    display: flex;
    flex-wrap: wrap;
	align-items: left;
    gap: 10px;
    margin: 5px;
}
.energiaCarta {
    display: flex;
    padding: 5px;
    border: 2px solid #8EA0B8;
    border-radius: 10px;
    cursor: pointer;
    transition: border-color 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 42px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.energiaCarta:hover {
	transform: scale(1.03);
	border: 2px solid #7A8BA3;
}

.energiaCarta.energiaSeleccionada {
    background-color: #B0B0B0;
    border-color: #68768A;
}

/* --------------------------- TIPOS BUSCADOR CARTAS --------------------------- */
.selectTiposCarta {
	margin-top: 5px;
    justify-content: flex-start;
}
.tipo {
    display: flex;
    flex-wrap: wrap;
	align-items: left;
    gap: 12px;
    margin: 5px;
}
.tipoCarta {
    display: flex;
    padding: 5px;
    border: 2px solid #8EA0B8;
    border-radius: 10px;
    cursor: pointer;
    transition: border-color 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.tipoCarta:hover {
	transform: scale(1.03);
	border: 2px solid #7A8BA3;
}

.tipoCarta.tipoSeleccionada {
    background-color: #B0B0B0;
    border-color: #68768A;
}


/* --------------------------- OBTENIDAS BUSCADOR CARTAS --------------------------- */
.selectObtenidasCarta {
	margin-top: 5px;
    justify-content: flex-start;
}
.obtenidasCartasF1 {
    display: flex;
    flex-wrap: wrap;
	align-items: left;
    gap: 12px;
    margin: 5px;
}
.obtenidaCarta {
    display: flex;
    padding: 5px;
    border: 2px solid #8EA0B8;
    border-radius: 10px;
    cursor: pointer;
    transition: border-color 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.obtenidaCarta:hover {
	transform: scale(1.03);
	border: 2px solid #7A8BA3;
}

.obtenidaCarta.obtenidaSeleccionada {
    background-color: #B0B0B0;
    border-color: #68768A;
}

/* -------------------------------------------------------------POPUP RESULTADOS CARTAS------------------------------------------------------------ */


/* --------------------------- POPUP ----------------------------------------- */
.resultadosCartas {
	display: flex;
    flex-direction: column;
    position: absolute;
    top: 218px;
    left: 573px;
    height: 606px;
    width: 1230px;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    /* overflow-y: auto; */
    box-shadow: 0 4px 70px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* --------------------------- CONTADORES ----------------------------------------- */
.contadoresF1 {
    display: flex;
    flex-wrap: wrap;
    gap: 110px;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
    user-select: none;
}

/* ---------------- CONTADOR ------------------------- */
.contadorResultado {
    display: flex;
    padding: 5px;
    border: 2px solid #8EA0B8;
    border-radius: 10px;
    transition: border-color 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
}

.contadorResultado:hover {
    border: 2px solid #7A8BA3;
}

/* ---------------- CONTENEDOR CARTAS ------------------------- */

.mostrarCartas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
    max-height: 642px;
    overflow-y: auto;
    padding: 10px;
    margin-top: 10px;
}

/* ---------------- CARTA ------------------------- */
.carta {
  width: 225px;
  cursor: pointer;
  transition: transform 0.2s;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.carta:hover {
	transform: scale(1.03);
}

.deshabilitarParcial {
    filter: grayscale(100%);
}


/* ------------------------------------------------- POPUP AMPLIAR CARTA --------------------------------------------- */
.cartaSeleccionada {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75); /* fondo semi-transparente */
    z-index: 1000;
}

/*------------------------------------CONTENEDOR IMAGEN Y BOTONES -----------------------------------------*/
.contenidoCartaSeleccionada {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    border-radius: 30px;
}

/*--------------------------------IMAGEN CARTA AMPLIADA -----------------------*/
.cartaSeleccionadaAmpliada {
  position: relative;
  width: 425px;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.9);
  transition: transform 0.2s;
  
  transform-style: preserve-3d; /* permite efecto 3D */
  transition: transform 0.2s ease;
  transform-origin: center center;
}


/* ------------------------------ BOTONES CARTA AMPLIADA --------------------- */


.infoCarta {
    background-color: white;
    border-radius: 30px;
    margin-bottom: 30px;
    width: 425px;
    height: 85px;
    display: flex;
    box-shadow: 0 4px 70px rgba(0, 0, 0, 0.6);
    justify-content: space-around;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: row;
    align-items: center;
}

.infoCartaExpansion {
	display: flex;
	flex-direction: column;
  	align-items: center;
}

.infoExpansion {
	width: 175px;
}

.infoCartaNumero {
	margin-top: -15px;
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.infoNumero {
	display: flex;
    justify-content: center;
    padding: 5px;
    border: 2px solid #8EA0B8;
    border-radius: 10px;
    transition: border-color 0.5s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: -8px;
}


.contenedorBotoneraCarta {
	background-color: white;
	border-radius: 30px;
	margin-top: 30px;
    width: 425px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 70px rgba(0, 0, 0, 0.6);
}

.botoneraCarta {
	display: flex;
	justify-content: center;
}

.botonesCartaAmpliadaAceptar {
    padding: 10px 20px;
    margin: 0px 10px;
    border: 2px solid #007bb5;
    border-radius: 30px;
    background-color: cornflowerblue;
    color: white;
    font-weight: normal;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.5s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 120px;
}

.botonesCartaAmpliadaAceptar:hover {
	transform: scale(1.03);
	border: 2px solid #005f87;
	background-color: #2F65C8; 
}

.botonesCartaAmpliadaSalir {
    padding: 10px 20px;
    margin: 0px 10px;
    border: 2px solid #B85C5C;
    border-radius: 30px;
    background-color: #E07A7A;
    color: white;
    font-weight: normal;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.5s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    width: 120px;
}

.botonesCartaAmpliadaSalir:hover {
    transform: scale(1.03);
    border: 2px solid #9C4A4A;
    background-color: #C75C5C;
}

.fuenteNormal {
	font-weight: 600;
}