.expansionLogo {
    width: 116px;
}

/*----------------------------------------- POPUP LISTADO CARTAS BARAJA ------------------------------------*/
.popupBaraja {
    display: flex;
    top: 86px;
    left: 50px;
    height: 122px;
    width: 1800px;
    padding: 10px;
    user-select: none;
}

.cartasBaraja {
	margin-left: 5px;
	width: 1615px;
}

.cartaBaraja {
    margin-top: 18px;
    margin-right: 4px;
    width: 76px;
    border-radius: 8px;
}

.cartaBarajaAniadida {
	cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.cartaBarajaAniadida:hover {
	transform: scale(1.03);
}

.botoneraBaraja {
	margin-left: -13px;
   	margin-top: 10px;
	width: 175px;
}

.btnGuardarOPublicar {
    margin-top: 38px;
    width: 176px;
}

.labelBaraja {
	position: absolute;
    top: 7px;
    left: 24px;
}

.labelInfoBaraja {
	position: absolute;
    top: 7px;
    left: 185px;
}

/* -----------------------------------------POPUP BUSCADOR CARTAS--------------------------------------- */
.popupBuscadorCartas {
    display: flex;
    flex-direction: column;
    top: 245px;
    left: 50px;
    height: 606px;
    max-width: fit-content;
    padding: 20px;
    user-select: none;
}

/* ---------------------------EXPANSIONES BUSCADOR CARTAS------------------------------------------- */
.labelBuscador {
	margin-left: 7px;
	margin-top: -7px;
}

.selectExpansionCarta {
    margin-top: 5px;
    justify-content: flex-start;
}

.expansion {
    display: flex;
    flex-wrap: wrap;
	align-items: left;
    gap: 10px;
    margin: 5px;
}
.expansionCarta {
    display: flex;
    padding: 1px;
}

/* ----------------------------------INPUTS BUSCADOR CARTAS---------------------------------------- */
.inputCarta {
	display: flex;
    flex-direction: column;
}

.inputBuscadorCartas {
	align-items: center;
	width: 362px;
    margin: 5px;
}

/* ---------------------------RAREZAS BUSCADOR CARTAS------------------------------------------- */
.selectRarezasCarta {
    margin-top: 5px;
    justify-content: flex-start;
}
.rareza {
    display: flex;
    flex-wrap: wrap;
	align-items: left;
    gap: 10px;
    margin: 5px;
}
.rarezaCarta {
    display: flex;
    align-items: center;
    width: 75px;
    justify-content: center;
    flex-wrap: nowrap;
}

/* --------------------------- ENERGIAS BUSCADOR CARTAS --------------------------- */
.selectEnergiasCarta {
	margin-top: 5px;
    justify-content: flex-start;
}
.energia {
    display: flex;
    flex-wrap: wrap;
	align-items: left;
    gap: 10px;
    margin: 5px;
}
.energiaCarta {
    display: flex;
    width: 42px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/* --------------------------- TIPOS BUSCADOR CARTAS --------------------------- */
.selectTiposCarta {
	margin-top: 5px;
    justify-content: flex-start;
}
.tipo {
    display: flex;
    flex-wrap: wrap;
	align-items: left;
    gap: 12px;
    margin: 5px;
}
.tipoCarta {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/* -------------------------------------------------------------POPUP RESULTADOS CARTAS------------------------------------------------------------ */
/* --------------------------- POPUP ----------------------------------------- */
.popupResultadosCartas {
	display: flex;
    flex-direction: column;
    top: 245px;
    left: 600px;
    height: 606px;
    width: 1230px;
    padding: 20px;
    user-select: none;
}

/* ---------------- CONTENEDOR CARTAS ------------------------- */
.mostrarCartas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
    max-height: 642px;
    overflow-y: auto;
    padding: 10px;
}

/* ---------------- CARTA ------------------------- */
.carta {
  width: 225px;
  cursor: pointer;
  transition: transform 0.2s;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.carta:hover {
	transform: scale(1.03);
}

.fuenteNormal {
	font-weight: 600;
}

/* ------------- POPUP CONFIRMAR ----------*/
.contenidoConfirmar {
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 690px;
}

.botoneraConfirmar {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.textoConfirmacion {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.botonesBaraja {
	width: 162px;
}