
/* -----------------------------------------SCROLL EXPANSIONES--------------------------------------- */
.expansionesContainer {
    display: flex;
    overflow-x: auto;
    gap: 85px;
    padding-top: calc(var(--separacion-barras) + 10px);
    white-space: nowrap;
     height: 100px;
}

.expansion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.expansionLogo:hover {
    transform: scale(1.3);
}

.expansionLogo {
    width: 140px;
    height: auto;
    flex-shrink: 0;
    cursor: pointer;
    transition: transform 0.2s;
}

/* -----------------------------------------POPUP BUSCADOR CARTAS--------------------------------------- */
.buscadorCartas {
	display: flex;
	width: fit-content;
	flex-direction: column;
	position: absolute;
    top: 23%;
    left: 5%;
    height: 600px;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
   	box-shadow: 0 4px 70px rgba(0, 0, 0, 0.6);
   	
   	/*transiciones*/
   	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* -----------------------------------IMAGEN BUSCADOR CARTAS----------------------------------------- */
.imagenBuscadorCartas {
	align-items: center;
	width: 320px;
}

/* ----------------------------------INPUTS BUSCADOR CARTAS---------------------------------------- */
.inputBuscadorCartas {
	align-items: center;
	width: 90%;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid #008CBA;
    font-weight: normal;
    font-size: 1em;
}
.inputBuscadorCartas:focus {
	outline: none; /* eliminar lo que pone por defecto el navegador */
    border-color: #007bb5;
    box-shadow: 0 0 5px rgba(0, 123, 181, 0.5);
}

/* ---------------------------RAREZAS BUSCADOR CARTAS------------------------------------------- */
.selectRarezasCarta {
    margin-top: 10px;
    justify-content: flex-start;
}
.labelBuscadorCartasRareza {
    font-family: Arial, sans-serif;
    padding: 10px;
    font-weight: bold;
    font-size: 1.1em;
    color: #008CBA;
}
.rarezaRombos {
    display: flex;          /* organiza los hijos en fila */
    flex-wrap: wrap;        /* permite que los hijos pasen a la siguiente fila si no caben */
	align-items: left;
    gap: 20px;
    margin: 5px;
}
.rarezaEstrellas {
    display: flex;
    flex-wrap: wrap;
	align-items: left;
    gap: 20px;
    margin: 5px;
}
.rarezaEstrellaSCorona {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
	align-items: left;
    margin: 5px;
}
.rarezaCarta {
    display: flex;
    padding: 5px;
    border: 2px solid #008CBA;
    border-radius: 10px;
    cursor: pointer;
    transition: border-color 0.2s;
}
.rarezaCarta.rarezaSeleccionada {
    background-color: #B0B0B0;
    border-color: #007bb5;
    box-shadow: 0 0 5px rgba(0, 123, 181, 0.5);
}


/* --------------------------- ENERGIAS BUSCADOR CARTAS --------------------------- */
.selectEnergiasCarta {
	margin-top: 10px;
    justify-content: flex-start;
}
.labelBuscadorCartasEnergia {
    font-family: Arial, sans-serif;
    padding: 10px;
    font-weight: bold;
    font-size: 1.1em;
    color: #008CBA;
}
.energiasCartasF1 {
    display: flex;
    flex-wrap: wrap;
	align-items: left;
    gap: 20px;
    margin: 5px;
}
.energiasCartasF2 {
    display: flex;
    flex-wrap: wrap;
	align-items: left;
    gap: 20px;
    margin: 5px;
}
.energiaCarta {
    display: flex;
    padding: 5px;
    border: 2px solid #008CBA;
    border-radius: 10px;
    cursor: pointer;
    transition: border-color 0.2s;
}
.energiaCarta.energiaSeleccionada {
    background-color: #B0B0B0;
    border-color: #007bb5;
    box-shadow: 0 0 5px rgba(0, 123, 181, 0.5);
}

/* --------------------------- TIPOS BUSCADOR CARTAS --------------------------- */
.selectTiposCarta {
	margin-top: 10px;
    justify-content: flex-start;
}
.labelBuscadorCartasTipo {
    font-family: Arial, sans-serif;
    padding: 10px;
    font-weight: bold;
    font-size: 1.1em;
    color: #008CBA;
}
.tiposCartasF1 {
    display: flex;
    flex-wrap: wrap;
	align-items: left;
    gap: 20px;
    margin: 5px;
}
.tiposCartasF2 {
    display: flex;
    flex-wrap: wrap;
	align-items: left;
    gap: 20px;
    margin: 5px;
}
.tipoCarta {
    display: flex;
    padding: 5px;
    border: 2px solid #008CBA;
    border-radius: 10px;
    cursor: pointer;
    transition: border-color 0.2s;
}
.tipoCarta.tipoSeleccionada {
    background-color: #B0B0B0;
    border-color: #007bb5;
    box-shadow: 0 0 5px rgba(0, 123, 181, 0.5);
}

/* -------------------------------------------------------------POPUP RESULTADOS CARTAS------------------------------------------------------------ */


/* --------------------------- POPUP ----------------------------------------- */
.resultadosCartas {
	display: flex;
	width: fit-content;
	flex-direction: column;
	position: absolute;
    top: 23%;
    left: 30%;
    width: 1200px;
    height: 600px;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
   	box-shadow: 0 4px 70px rgba(0, 0, 0, 0.6);
   	
   	/*transiciones*/
   	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* --------------------------- CONTADORES ----------------------------------------- */
.contadoresF1 {
    display: flex;
    flex-wrap: wrap;
    gap: 110px;
    justify-content: center;
    align-items: center;
}

/* ---------------- CONTADOR ------------------------- */
.contadorResultado {
    display: flex;
    padding: 5px;
    border: 2px solid #008CBA;
    border-radius: 10px;
    transition: border-color 0.2s;
}