/*-----------------------------------POPUP BUSCADOR INTERCAMBIOS --------------------------------------*/
.popupTablaIntercambiosBuscador {
	display: flex;
    flex-direction: column;
    position: absolute;
	top: 95px;
    left: 50px;
    height: 35px;
    width: 736px;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 3;
}

.contenidoBuscador {
	display: flex;
}

.inputNombreCartaOfrecer {
    align-items: center;
	width: 200px;
    padding: 10px;
    margin-left: 0px;
    margin-top: -5px;
    border-radius: 10px;
    border: 2px solid #8EA0B8;
    font-weight: normal;
    font-size: 1em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.inputNombreCartaOfrecer:hover {
    border-color: #7A8BA3;
}

.inputNombreCartaOfrecer:focus {
	outline: none;
    border-color: #68768A;
}

.inputNombreCartaQuerer {
    align-items: center;
	width: 200px;
    padding: 10px;
    margin-left: 20px;
    margin-top: -5px;
    border-radius: 10px;
    border: 2px solid #8EA0B8;
    font-weight: normal;
    font-size: 1em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.inputNombreCartaQuerer:hover {
    border-color: #7A8BA3;
}

.inputNombreCartaQuerer:focus {
	outline: none;
    border-color: #68768A;
}

.botonOrden {
    display: flex;
    width: 100px;
    padding: 5px;
    margin-top: -5px;
    margin-left: 25px;
    padding: 5px;
    border: 2px solid #8EA0B8;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: border-color 0.2s;
    transition: transform 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.botonOrden:hover {
	transform: scale(1.03);
	border: 2px solid #7A8BA3;
}

.botonOrden.seleccionada {
    background-color: #B0B0B0;
    border-color: #68768A;
}

.fuenteNormal {
	font-weight: 600;
}

.actualizar {
	display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

/* -----------------------------------------POPUP TABLA INTERCAMBIOS--------------------------------------- */
.popupTablaIntercambios {
	display: flex;
    flex-direction: column;
    position: absolute;
    top: 221px;
    left: 50px;
    height: 597px;
    width: 736px;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 70px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1;
}

.tablaCell {
    display: flex;
    position: absolute !important;
    align-items: center;
    gap: 15px;
    padding: 20px;
    font-size: 16px;
    pointer-events: none;
}

/* Imagen de la carta */
.tablaCell .fondo {
    position: absolute;
    left: -72px;
    top: -5px;
	height: 137px;
    z-index: 1;
    object-fit: cover;
    clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
}

/*formatos de imagen en funcion del numero de cartas del intercambio*/
.portada {
    position: absolute;
    width: 95px;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/*1*/
.tablaCell .abanicoOfrecer-1 .portada {
    margin-left: 195px;
    transform: rotate(0deg);
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: -18px;
    z-index: 2;
}

.tablaCell .abanicoQuerer-1 .portada {
    margin-left: 340px;
    transform: rotate(-0deg);
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: -18px;
    z-index: 2;
}

/*2*/

.tablaCell .abanicoOfrecer-2 .portada:nth-child(1) {
    margin-left: 115px;
    transform: rotate(0deg);
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: -18px;
    z-index: 2;
}

.tablaCell .abanicoOfrecer-2 .portada:nth-child(2) {
    margin-left: 195px;
    transform: rotate(0deg);
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: -18px;
    z-index: 2;
}

.tablaCell .abanicoQuerer-2 .portada:nth-child(1) {
    margin-left: 340px;
    transform: rotate(0deg);
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: -18px;
    z-index: 2;
}

.tablaCell .abanicoQuerer-2 .portada:nth-child(2) {
    margin-left: 420px;
    transform: rotate(0deg);
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: -18px;
    z-index: 2;
}

/*3*/

.tablaCell .abanicoOfrecer-3 .portada:nth-child(1) {
    margin-left: 55px;
    transform: rotate(-6deg);
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: -12px;
    z-index: 2;
}

.tablaCell .abanicoOfrecer-3 .portada:nth-child(2) {
    margin-left: 125px;
    transform: rotate(0deg);
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: -18px;
    z-index: 2;
}

.tablaCell .abanicoOfrecer-3 .portada:nth-child(3) {
    margin-left: 195px;
    transform: rotate(6deg);
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: -12px;
    z-index: 2;
}

.tablaCell .abanicoQuerer-3 .portada:nth-child(1) {
    margin-left: 340px;
    transform: rotate(-6deg);
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: -12px;
    z-index: 2;
}

.tablaCell .abanicoQuerer-3 .portada:nth-child(2) {
    margin-left: 410px;
    transform: rotate(0deg);
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: -18px;
    z-index: 2;
}

.tablaCell .abanicoQuerer-3 .portada:nth-child(3) {
    margin-left: 480px;
    transform: rotate(6deg);
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: -12px;
    z-index: 2;
}


/*4*/
.tablaCell .abanicoOfrecer-4 .portada:nth-child(1) {
    margin-left: 20px;
    transform: rotate(-6deg);
    margin-top: -12px;
    z-index: 2;
}

.tablaCell .abanicoOfrecer-4 .portada:nth-child(2) {
    margin-left: 75px;
    transform: rotate(0deg);
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: -18px;
    z-index: 2;
}

.tablaCell .abanicoOfrecer-4 .portada:nth-child(3) {
    margin-left: 135px;
    transform: rotate(0deg);
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: -18px;
    z-index: 2;
}

.tablaCell .abanicoOfrecer-4 .portada:nth-child(4) {
    margin-left: 195px;
    transform: rotate(6deg);
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: -12px;
    z-index: 2;
}


.tablaCell .abanicoQuerer-4 .portada:nth-child(1) {
    margin-left: 340px;
    transform: rotate(-6deg);
    margin-top: -12px;
    z-index: 2;
}

.tablaCell .abanicoQuerer-4 .portada:nth-child(2) {
    margin-left: 400px;
    transform: rotate(0deg);
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: -18px;
    z-index: 2;
}

.tablaCell .abanicoQuerer-4 .portada:nth-child(3) {
    margin-left: 460px;
    transform: rotate(0deg);
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: -18px;
    z-index: 2;
}

.tablaCell .abanicoQuerer-4 .portada:nth-child(4) {
    margin-left: 520px;
    transform: rotate(6deg);
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: -12px;
    z-index: 2;
}

/*5*/

.tablaCell .abanicoOfrecer-5 .portada:nth-child(1) {
    margin-left: -2px;
    transform: rotate(-6deg);
    margin-top: -12px;
    z-index: 2;
}

.tablaCell .abanicoOfrecer-5 .portada:nth-child(2) {
    margin-left: 42px;
    transform: rotate(-3deg);
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: -15px;
    z-index: 2;
}

.tablaCell .abanicoOfrecer-5 .portada:nth-child(3) {
    margin-left: 93px;
    transform: rotate(0deg);
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: -18px;
    z-index: 2;
}

.tablaCell .abanicoOfrecer-5 .portada:nth-child(4) {
    margin-left: 140px;
    transform: rotate(3deg);
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: -15px;
    z-index: 2;
}

.tablaCell .abanicoOfrecer-5 .portada:nth-child(5) {
    margin-left: 195px;
    transform: rotate(6deg);
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: -12px;
    z-index: 2;
}


.tablaCell .abanicoQuerer-5 .portada:nth-child(1) {
    margin-left: 340px;
    transform: rotate(-6deg);
    margin-top: -12px;
    z-index: 2;
}

.tablaCell .abanicoQuerer-5 .portada:nth-child(2) {
    margin-left: 391px;
    transform: rotate(-3deg);
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: -15px;
    z-index: 2;
}

.tablaCell .abanicoQuerer-5 .portada:nth-child(3) {
    margin-left: 442px;
    transform: rotate(0deg);
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: -18px;
    z-index: 2;
}

.tablaCell .abanicoQuerer-5 .portada:nth-child(4) {
    margin-left: 493px;
    transform: rotate(3deg);
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: -15px;
    z-index: 2;
}

.tablaCell .abanicoQuerer-5 .portada:nth-child(5) {
    margin-left: 544px;
    transform: rotate(6deg);
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: -12px;
    z-index: 2;
}


.tablaCell span {
	margin-top: -35px;
    margin-left: 65px;
    color: #68768A;
}


#tablaIntercambios {
	margin-top: 15px;
    height: calc(95% + 0px);
    max-height: calc(100% + 0px);
}

.textoActualizar {
    display: flex;
    margin-left: 10px;
	color: #68768A;
	margin-top: 8px;
}

#botonActualizar:hover {
	animation: fa-spin 2s infinite linear;
}

.tabulator-cell {
    left: 15px;
    height: 135px !important;
    width: 690px !important;
    margin-top: 12px;
}

.iconoIntercambioPortada {
	position: absolute;
    margin-left: 306px;
    color: #68768A;
    margin-top: 90px;
    font-size: 36px;
}

/* --------------------------- POPUP MOSTRAR INTERCAMBIO ----------------------------------------- */
.popupMostrarIntercambio {
	display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 95px;
	left: 890px;
    height: 724px;
    width: 925px;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 70px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/*formatos de imagen en funcion del numero de cartas del intercambio en el popup de mostrar*/

.carta {
  width: 150px;
  cursor: pointer;
  transition: transform 0.25s ease;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

/*1*/
.abanicoMostrarOfrecer-1 .carta {
    transform: rotate(0deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.abanicoMostrarQuerer-1 .carta {
    transform: rotate(0deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.abanicoMostrarOfrecer-1 .carta:nth-child(1):hover {
    transform: rotate(0deg) scale(1.03);
}

.abanicoMostrarQuerer-1 .carta:nth-child(1):hover {
    transform: rotate(0deg) scale(1.03);
}

/*2*/
.abanicoMostrarOfrecer-2 .carta:nth-child(1) {
    transform: rotate(0deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.abanicoMostrarOfrecer-2 .carta:nth-child(2) {
	position: relative;
    margin-left: -30px;
    transform: rotate(0deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.abanicoMostrarQuerer-2 .carta:nth-child(1) {
    transform: rotate(0deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.abanicoMostrarQuerer-2 .carta:nth-child(2) {
	position: relative;
    margin-left: -30px;
    transform: rotate(0deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.abanicoMostrarOfrecer-2 .carta:nth-child(1):hover {
    transform: rotate(0deg) translateY(-30px) scale(1.03);
}

.abanicoMostrarOfrecer-2 .carta:nth-child(2):hover {
    transform: rotate(0deg) translateY(-30px) scale(1.03);
}

.abanicoMostrarQuerer-2 .carta:nth-child(1):hover {
    transform: rotate(0deg) translateY(-30px) scale(1.03);
}

.abanicoMostrarQuerer-2 .carta:nth-child(2):hover {
    transform: rotate(0deg) translateY(-30px) scale(1.03);
}

/*3*/
.abanicoMostrarOfrecer-3 .carta:nth-child(1) {
    transform: rotate(-6deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.abanicoMostrarOfrecer-3 .carta:nth-child(2) {
	position: relative;
	top: -5px;
    margin-left: -30px;
    transform: rotate(0deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.abanicoMostrarOfrecer-3 .carta:nth-child(3) {
	position: relative;
    margin-left: -20px;
    transform: rotate(6deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.abanicoMostrarQuerer-3 .carta:nth-child(1) {
    transform: rotate(-6deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.abanicoMostrarQuerer-3 .carta:nth-child(2) {
	position: relative;
	top: -5px;
    margin-left: -30px;
    transform: rotate(0deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.abanicoMostrarQuerer-3 .carta:nth-child(3) {
	position: relative;
    margin-left: -20px;
    transform: rotate(6deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.abanicoMostrarOfrecer-3 .carta:nth-child(1):hover {
    transform: rotate(-6deg) translateY(-30px) scale(1.03);
}

.abanicoMostrarOfrecer-3 .carta:nth-child(2):hover {
    transform: rotate(0deg) translateY(-30px) scale(1.03);
}

.abanicoMostrarOfrecer-3 .carta:nth-child(3):hover {
    transform: rotate(6deg) translateY(-30px) scale(1.03);
}

.abanicoMostrarQuerer-3 .carta:nth-child(1):hover {
    transform: rotate(-6deg) translateY(-30px) scale(1.03);
}

.abanicoMostrarQuerer-3 .carta:nth-child(2):hover {
    transform: rotate(0deg) translateY(-30px) scale(1.03);
}

.abanicoMostrarQuerer-3 .carta:nth-child(3):hover {
    transform: rotate(6deg) translateY(-30px) scale(1.03);
}


/*4*/
.abanicoMostrarOfrecer-4 .carta:nth-child(1) {
    transform: rotate(-6deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.abanicoMostrarOfrecer-4 .carta:nth-child(2) {
	position: relative;
	top: -5px;
    margin-left: -45px;
    transform: rotate(0deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.abanicoMostrarOfrecer-4 .carta:nth-child(3) {
	position: relative;
	top: -5px;
    margin-left: -45px;
    transform: rotate(0deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.abanicoMostrarOfrecer-4 .carta:nth-child(4) {
	position: relative;
    margin-left: -45px;
    transform: rotate(6deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}


.abanicoMostrarQuerer-4 .carta:nth-child(1) {
    transform: rotate(-6deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.abanicoMostrarQuerer-4 .carta:nth-child(2) {
	position: relative;
	top: -5px;
    margin-left: -45px;
    transform: rotate(0deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.abanicoMostrarQuerer-4 .carta:nth-child(3) {
	position: relative;
	top: -5px;
    margin-left: -45px;
    transform: rotate(0deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.abanicoMostrarQuerer-4 .carta:nth-child(4) {
	position: relative;
    margin-left: -45px;
    transform: rotate(6deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.abanicoMostrarOfrecer-4 .carta:nth-child(1):hover {
    transform: rotate(-6deg) translateY(-30px) scale(1.03);
}

.abanicoMostrarOfrecer-4 .carta:nth-child(2):hover {
    transform: rotate(0deg) translateY(-30px) scale(1.03);
}

.abanicoMostrarOfrecer-4 .carta:nth-child(3):hover {
    transform: rotate(0deg) translateY(-30px) scale(1.03);
}

.abanicoMostrarOfrecer-4 .carta:nth-child(4):hover {
    transform: rotate(6deg) translateY(-30px) scale(1.03);
}

.abanicoMostrarQuerer-4 .carta:nth-child(1):hover {
    transform: rotate(-6deg) translateY(-30px) scale(1.03);
}

.abanicoMostrarQuerer-4 .carta:nth-child(2):hover {
    transform: rotate(0deg) translateY(-30px) scale(1.03);
}

.abanicoMostrarQuerer-4 .carta:nth-child(3):hover {
    transform: rotate(0deg) translateY(-30px) scale(1.03);
}

.abanicoMostrarQuerer-4 .carta:nth-child(4):hover {
    transform: rotate(6deg) translateY(-30px) scale(1.03);
}

/*5*/
.abanicoMostrarOfrecer-5 .carta:nth-child(1) {
    transform: rotate(-6deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.abanicoMostrarOfrecer-5 .carta:nth-child(2) {
	position: relative;
	top: -5px;
    margin-left: -55px;
    transform: rotate(-3deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.abanicoMostrarOfrecer-5 .carta:nth-child(3) {
	position: relative;
	top: -8px;
    margin-left: -55px;
    transform: rotate(0deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.abanicoMostrarOfrecer-5 .carta:nth-child(4) {
	position: relative;
	top: -5px;
    margin-left: -55px;
    transform: rotate(3deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.abanicoMostrarOfrecer-5 .carta:nth-child(5) {
	position: relative;
    margin-left: -55px;
    transform: rotate(6deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}


.abanicoMostrarQuerer-5 .carta:nth-child(1) {
    transform: rotate(-6deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.abanicoMostrarQuerer-5 .carta:nth-child(2) {
	position: relative;
	top: -5px;
    margin-left: -55px;
    transform: rotate(-3deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.abanicoMostrarQuerer-5 .carta:nth-child(3) {
	position: relative;
	top: -8px;
    margin-left: -55px;
    transform: rotate(0deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.abanicoMostrarQuerer-5 .carta:nth-child(4) {
	position: relative;
	top: -5px;
    margin-left: -55px;
    transform: rotate(3deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.abanicoMostrarQuerer-5 .carta:nth-child(5) {
	position: relative;
    margin-left: -55px;
    transform: rotate(6deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.abanicoMostrarOfrecer-5 .carta:nth-child(1):hover {
    transform: rotate(-6deg) translateY(-30px) scale(1.03);
}

.abanicoMostrarOfrecer-5 .carta:nth-child(2):hover {
    transform: rotate(-3deg) translateY(-30px) scale(1.03);
}

.abanicoMostrarOfrecer-5 .carta:nth-child(3):hover {
    transform: rotate(0deg) translateY(-30px) scale(1.03);
}

.abanicoMostrarOfrecer-5 .carta:nth-child(4):hover {
    transform: rotate(3deg) translateY(-30px) scale(1.03);
}

.abanicoMostrarOfrecer-5 .carta:nth-child(5):hover {
    transform: rotate(6deg) translateY(-30px) scale(1.03);
}

.abanicoMostrarQuerer-5 .carta:nth-child(1):hover {
    transform: rotate(-6deg) translateY(-30px) scale(1.03);
}

.abanicoMostrarQuerer-5 .carta:nth-child(2):hover {
    transform: rotate(-3deg) translateY(-30px) scale(1.03);
}

.abanicoMostrarQuerer-5 .carta:nth-child(3):hover {
    transform: rotate(0deg) translateY(-30px) scale(1.03);
}

.abanicoMostrarQuerer-5 .carta:nth-child(4):hover {
    transform: rotate(3deg) translateY(-30px) scale(1.03);
}

.abanicoMostrarQuerer-5 .carta:nth-child(5):hover {
    transform: rotate(6deg) translateY(-30px) scale(1.03);
}


.btnEliminarIntercambio {
    width: 190px;
}

.btnAceptarIntercambio {
    width: 190px;
}

.btnRechazarIntercambio {
    width: 190px;
}

.mostrarCartasOfrecer1 {
	display: flex;
    justify-content: center;
	margin-top: 50px;
}

.mostrarCartasOfrecer2 {
	display: flex;
    justify-content: center;
	margin-top: 50px;
}

.mostrarCartasQuerer1 {
	display: flex;
    justify-content: center;
 	margin-top: 50px;
}

.mostrarCartasQuerer2 {
	display: flex;
    justify-content: center;
 	margin-top: 50px;
}


.textoEstado {
	margin-top: 10px;
}

.cartasOfrecer1 {
	margin-top: 30px;
}

.cartasOfrecer2 {
	margin-top: -40px;
}

.cartasQuerer1 {
	margin-top: 30px;
}

.cartasQuerer2 {
	margin-top: -40px;
}


.textoOfrecer1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.textoOfrecer2 {
    display: flex;
    justify-content: center;
    margin-bottom: -25px;
}

.textoQuerer1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.textoQuerer2 {
    display: flex;
    justify-content: center;
    margin-bottom: -25px;
}

.botonera1 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.botonera2 {
    display: flex;
    justify-content: center;
    margin-top: 243px;
}


.cartaIntercambioAniadida {
  width: 150px;
  cursor: pointer;
  transition: transform 0.25s ease;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.cartaIntercambioAniadida:hover {
	transform: scale(1.03);
}

.flechaIntercambiar {
	display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;

}

.verOferta2 {
	display: flex;
    align-items: center;
    justify-content: center;
    gap: 85px;
    margin-top: 200px;
}

.textoEsperar2 {
	margin-top: 140px;
    display: flex;
}

.btnRechazarIntercambio {
	width: 200px;
}

.btnAceptarIntercambio {
	width: 200px;
}

/*---------------------------- POPUP CONFIRMACION ELIMINAR ----------------------------*/

.confirmar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.contenidoConfirmar {
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 350px;
}

.botoneraConfirmar {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-left: -20px;
}

.textoConfirmacion {
    display: flex;
    text-align: center;
	color: #68768A;
}

.botonSolicitar {
	width: 115px;
    padding: 10px 20px;
    border: 2px solid #007bb5;
    border-radius: 30px;
    background-color: cornflowerblue;
    color: white;
    font-weight: normal;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.5s;
    transition: transform 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.botonSolicitar:hover {
	transform: scale(1.03);
	border: 2px solid #005f87;
	background-color: #2F65C8;
}


.botonCancelar {
	width: 115px;
    padding: 10px 20px;
    margin: 0px 15px;
    border: 2px solid #B85C5C;
    border-radius: 30px;
    background-color: #E07A7A;
    color: white;
    font-weight: normal;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.5s;
    transition: transform 0.3s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

.botonCancelar:hover {
    transform: scale(1.03);
    border: 2px solid #9C4A4A;
    background-color: #C75C5C;
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}