<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poketradecenter.Mapper.interfaces.IBarajaMapper">

    <!-- SQL para guardar una baraja y devolverla-->
    <insert id="guardar" parameterType="com.poketradecenter.Clase.Baraja" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO baraja
        (nombre, cartas, cartas_nombre)
        VALUES (#{nombre}, #{cartas}, #{cartasNombre})
    </insert>
 	
</mapper>