<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poketradecenter.Mapper.interfaces.IBarajaLikeMapper">
 
	 <!-- SQL para recuperar las barajas que el usuario logado le ha dado like por criterios-->
	 <select id="recuperarBarajaLikePorCriterios" parameterType="com.poketradecenter.Clase.CriteriosBarajaPublica"  
	        resultType="com.poketradecenter.Clase.BarajaLike">
	    SELECT usuario_id AS usuarioId, baraja_publica_id AS barajaPublicaId 
	    FROM baraja_like
	    <where>
   	        <if test="usuarioId != null">
	            AND usuario_id = #{usuarioId}
	        </if>
	        <if test="barajaPublicaId != null">
	            AND baraja_publica_id = #{barajaPublicaId}
	        </if>
	    </where>
	</select>
	
 	 <!-- SQL para insertar la combinacion usuario baraja al dar like-->
	 <insert id="crear" parameterType="com.poketradecenter.Clase.BarajaLike">
	    INSERT INTO baraja_like
	    (usuario_id, baraja_publica_id)
	    VALUES (#{usuarioId}, #{barajaPublicaId});
	</insert>
	
</mapper>