<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poketradecenter.Mapper.interfaces.ICartaUsuarioMapper">



    <!-- SQL para recuperar cartas de usuario por criterios-->
    <select id="recuperarPorCriterios" parameterType="com.poketradecenter.Clase.CriteriosCartaUsuario"  resultType="com.poketradecenter.Clase.CartaUsuario">
    	SELECT id, usuario_id AS usuarioId, expansion_id AS expansionId, carta_juego_id AS cartaJuegoId, nombre, 
    	rareza_id AS rarezaId, energia_id AS energiaId, tipo_id AS tipoId, obtenida
    	FROM coleccion_cartas_usuario
    	<where>
	        <if test="id != null">
	            AND id = #{id}
	        </if>
	        <if test="usuarioId != null">
	            AND usuario_id = #{usuarioId}
	        </if>
	        <if test="expansionId != null">
	            AND expansion_id = #{expansionId}
	        </if>
	        <if test="cartaJuegoId != null">
	            AND carta_juego_id = #{cartaJuegoId}
	        </if>
	        <if test="nombre != null and nombre != ''">
	            AND nombre LIKE CONCAT('%', #{nombre}, '%')
	        </if>
	        <if test="rarezas != null and rarezas.size() > 0">
	            AND rareza_id IN
	            <foreach collection="rarezas" item="rarezaId" open="(" separator="," close=")">
            			#{rarezaId}
        		</foreach>
	        </if>
    	    <if test="energias != null and energias.size() > 0">
	            AND energia_id IN
	            <foreach collection="energias" item="energiaId" open="(" separator="," close=")">
            			#{energiaId}
        		</foreach>
	        </if>
      	    <if test="tipos != null and tipos.size() > 0">
	            AND tipo_id IN
	            <foreach collection="tipos" item="tipoId" open="(" separator="," close=")">
            			#{tipoId}
        		</foreach>
	        </if>
        	<if test="obtenida != null">
	            AND obtenida = #{obtenida}
	        </if>
    	</where>
    	ORDER BY carta_juego_id ASC;
    </select>

</mapper>