<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poketradecenter.Mapper.interfaces.ICartaUsuarioMapper">



    <!-- SQL para recuperar cartas de usuario por criterios-->
 <select id="recuperarPorCriterios" parameterType="com.poketradecenter.Clase.CriteriosCartaUsuario"  
        resultType="com.poketradecenter.Clase.CartaUsuario">
    SELECT
           ccu.usuario_id AS usuarioId,
           ccu.expansion_id AS expansionId,
           ccu.carta_juego_id AS cartaJuegoId,
           c.nombre,
           c.rareza_id AS rarezaId,
           c.energia_id AS energiaId,
           c.tipo_id AS tipoId,
           ccu.obtenida
    FROM carta_usuario ccu
    JOIN carta c
      ON ccu.expansion_id = c.expansion_id
     AND ccu.carta_juego_id = c.carta_juego_id
    <where>
        <if test="usuarioId != null">
            AND ccu.usuario_id = #{usuarioId}
        </if>
        <if test="cartaJuegoId != null">
            AND ccu.carta_juego_id = #{cartaJuegoId}
        </if>
        <if test="nombre != null and nombre != ''">
            AND c.nombre LIKE CONCAT('%', #{nombre}, '%')
        </if>
        <if test="rarezas != null and rarezas.size() > 0">
            AND c.rareza_id IN
            <foreach collection="rarezas" item="rarezaId" open="(" separator="," close=")">
                #{rarezaId}
            </foreach>
        </if>
        <if test="expansiones != null and expansiones.size() > 0">
            AND c.expansion_id IN
            <foreach collection="expansiones" item="expansionId" open="(" separator="," close=")">
                #{expansionId}
            </foreach>
        </if>
        <if test="energias != null and energias.size() > 0">
            AND c.energia_id IN
            <foreach collection="energias" item="energiaId" open="(" separator="," close=")">
                #{energiaId}
            </foreach>
        </if>
        <if test="tipos != null and tipos.size() > 0">
            AND c.tipo_id IN
            <foreach collection="tipos" item="tipoId" open="(" separator="," close=")">
                #{tipoId}
            </foreach>
        </if>
        <if test="obtenida != null">
            AND ccu.obtenida = #{obtenida}
        </if>
    </where>
    ORDER BY ccu.expansion_id ASC, ccu.carta_juego_id ASC;
</select>
    
    
    <!-- SQL para actualizar los datos de la carta -->
	<update id="actualizar" parameterType="com.poketradecenter.Clase.CartaUsuario">
	   UPDATE carta_usuario
	   <set>
	       <if test="obtenida != null">
	           obtenida = #{obtenida}
	       </if>
	   </set>
	   WHERE usuario_id = #{usuarioId} AND expansion_id = #{expansionId} AND carta_juego_id = #{cartaJuegoId}
	</update>
	
	<!-- SQL para insertar cartas de usuario -->
	<insert id="insertar" parameterType="com.poketradecenter.Clase.CartaUsuario">   
	   INSERT INTO carta_usuario
        (usuario_id, expansion_id, carta_juego_id, obtenida)
        VALUES (#{usuarioId}, #{expansionId}, #{cartaJuegoId}, #{obtenida})
	</insert>
	
</mapper>