<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poketradecenter.Mapper.interfaces.IIntercambioMapper">

    <!-- SQL para publicar un intercambio nuevo-->
    <insert id="publicarIntercambio" parameterType="com.poketradecenter.Clase.Intercambio">
        INSERT INTO intercambio
        (ofertante_id, contraparte_id, cartas_ofrecer, cartas_querer, cartas_ofrecer_nombre, cartas_querer_nombre, estado_id, 
        carta_ofrecer_final, carta_querer_final, carta_ofrecer_final_nombre, carta_querer_final_nombre, fecha_creacion, fecha_cambio)
        VALUES (#{ofertanteId}, #{contraparteId}, #{cartasOfrecer}, #{cartasQuerer}, #{cartasOfrecerNombre}, #{cartasQuererNombre}, #{estadoId}, 
        #{cartaOfrecerFinal}, #{cartaQuererFinal}, #{cartaOfrecerFinalNombre}, #{cartaQuererFinalNombre}, #{fechaCreacion}, #{fechaCambio})
    </insert>
    
    <!-- SQL para recuperar los intercambios públicos por criterios-->
	 <select id="recuperarIntercambiosPublicosPorCriterios" parameterType="com.poketradecenter.Clase.CriteriosIntercambio" 
	 		resultType="com.poketradecenter.Clase.Intercambio">
	    SELECT id, ofertante_id AS ofertanteId, cartas_ofrecer AS cartasOfrecer, cartas_querer AS cartasQuerer,
	    cartas_ofrecer_nombre AS cartasOfrecerNombre, cartas_querer_nombre AS cartasQuererNombre,
	    estado_id AS estadoId, carta_ofrecer_final AS cartaOfrecerFinal, carta_querer_final AS cartaOfrecerFinal,
	    carta_ofrecer_final_nombre AS cartaOfrecerFinalNombre, carta_querer_final_nombre AS cartaQuererFinalNombre, 
	    fecha_creacion AS fechaCreacion
	    FROM intercambio
	    <where>
	    	<if test="id != null">
	            AND id = #{id}
	        </if>
	    
 	   	    <if test="usuarioId != null">
	            AND ofertante_id != #{usuarioId}
	        </if>
	    	
   	        <if test="cartasOfrecerNombre != null">
	            AND cartas_ofrecer_nombre LIKE CONCAT('%', #{cartasOfrecerNombre}, '%')
	        </if>
        	<if test="cartasQuererNombre != null">
	            AND cartas_querer_nombre LIKE CONCAT('%', #{cartasQuererNombre}, '%')
	        </if>
	        AND estado_id = 1
	    </where>
		<choose>
		    <when test="ordenacion != null">
		        ORDER BY ${ordenacion}
		    </when>
		    <otherwise>
		        ORDER BY fecha_creacion DESC
		    </otherwise>
		</choose>
	</select>
	
	<update id="solicitarIntercambio" parameterType="com.poketradecenter.Clase.Intercambio">
	   UPDATE intercambio
	   <set>
	   	   contraparte_id = #{contraparteId},
	   	   carta_ofrecer_final = #{cartaOfrecerFinal},
	       carta_ofrecer_final_nombre = #{cartaOfrecerFinalNombre},
	       carta_querer_final = #{cartaQuererFinal},
	       carta_querer_final_nombre = #{cartaQuererFinalNombre},
	       estado_id = #{estadoId},
	       fecha_cambio = #{fechaCambio}
	   </set>
	   WHERE id = #{id}
	</update>
	
	<!-- SQL para recuperar los intercambios activos por criterios-->
	 <select id="recuperarIntercambiosActivosPorCriterios" parameterType="com.poketradecenter.Clase.CriteriosIntercambio" 
	 		resultType="com.poketradecenter.Clase.Intercambio">
	    SELECT id, ofertante_id AS ofertanteId, cartas_ofrecer AS cartasOfrecer, cartas_querer AS cartasQuerer,
	    cartas_ofrecer_nombre AS cartasOfrecerNombre, cartas_querer_nombre AS cartasQuererNombre, 
   	    estado_id AS estadoId, carta_ofrecer_final AS cartaOfrecerFinal, carta_querer_final AS cartaOfrecerFinal,
	    carta_ofrecer_final_nombre AS cartaOfrecerFinalNombre, carta_querer_final_nombre AS cartaQuererFinalNombre, 
	    fecha_creacion AS fechaCreacion
	    FROM intercambio
	    <where>
	    	<if test="id != null">
	            AND id = #{id}
	        </if>
	    
 	   	    <if test="usuarioId != null">
	            AND (ofertante_id = #{usuarioId} OR contraparte_id = #{usuarioId})
	        </if>
	    	
   	        <if test="cartasOfrecerNombre != null">
	            AND cartas_ofrecer_nombre LIKE CONCAT('%', #{cartasOfrecerNombre}, '%')
	        </if>
        	<if test="cartasQuererNombre != null">
	            AND cartas_querer_nombre LIKE CONCAT('%', #{cartasQuererNombre}, '%')
	        </if>
	    </where>
		<choose>
		    <when test="ordenacion != null">
		        ORDER BY ${ordenacion}
		    </when>
		    <otherwise>
		        ORDER BY fecha_creacion DESC
		    </otherwise>
		</choose>
	</select>
    
</mapper>