<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poketradecenter.Mapper.interfaces.IUsuarioMapper">

    <!-- SQL para insertar un usuario cuando se registra-->
    <insert id="crear" parameterType="com.poketradecenter.Clase.Usuario" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO usuario
        (nombre, email, password, icono_id, emblema_1_id, emblema_2_id, emblema_3_id)
        VALUES (#{nombre}, #{email}, #{password}, 1,0,0,0)
    </insert>
    
    <!-- SQL para actualizar los datos del usuario -->
	<update id="actualizar" parameterType="com.poketradecenter.Clase.Usuario">
	   UPDATE usuario
	   <set>
	       <if test="nombre != null and nombre != ''">
	           nombre = #{nombre},
	       </if>
	       <if test="email != null and email != ''">
	           email = #{email},
	       </if>
	       <if test="password != null and password != ''">
	           password = #{password},
	       </if>
	       <if test="juegoId != null and juegoId != ''">
	           juego_id = #{juegoId},
	       </if>
  	       <if test="iconoId != null">
	           icono_id = #{iconoId},
	       </if>
     	   <if test="emblema1Id != null">
	           emblema_1_id = #{emblema1Id},
	       </if>
           <if test="emblema2Id != null">
	           emblema_2_id = #{emblema2Id},
	       </if>
	       <if test="emblema3Id != null">
	           emblema_3_id = #{emblema3Id}
	       </if>
	   </set>
	   WHERE id = #{id}
	</update>
    
    <!-- SQL para recuperar usuarios por criterios-->
    <select id="recuperarPorCriterios" parameterType="com.poketradecenter.Clase.CriteriosUsuario"  resultType="com.poketradecenter.Clase.Usuario">
    	SELECT id, nombre, email, password, juego_id AS juegoId, icono_id AS iconoId, emblema_1_id AS emblema1Id, emblema_2_id AS emblema2Id, emblema_3_id AS emblema3Id
    	FROM Usuario
    	<where>
	        <if test="id != null">
	            AND id = #{id}
	        </if>
	        <if test="nombre != null and nombre != ''">
	            AND nombre = #{nombre}
	        </if>
	        <if test="email != null and email != ''">
	            AND email = #{email}
	        </if>
	        <if test="password != null and password != ''">
	            AND password = #{password}
	        </if>
	        <if test="juegoId != null and juegoId != ''">
	            AND juego_id = #{juegoId}
	        </if>
	        <if test="iconoId != null">
	            AND icono_id = #{iconoId}
	        </if>
      	    <if test="emblema1Id != null">
	            AND emblema_1_id = #{emblema1Id}
	        </if>
            <if test="emblema2Id != null">
	            AND emblema_2_id = #{emblema2Id}
	        </if>
	        <if test="emblema3Id != null">
	            AND emblema_3_id = #{emblema3Id}
	        </if>
    	</where>
    </select>

</mapper>