<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poketradecenter.Mapper.interfaces.IUsuarioMapper">

    <!-- SQL para insertar un usuario -->
    <insert id="guardar" parameterType="com.poketradecenter.Clase.Usuario">
        INSERT INTO usuario
        (nombre, email, password)
        VALUES (#{nombre}, #{email}, #{password})
    </insert>
    
    <!-- SQL para recuperar usuarios por criterios-->
    <select id="recuperarPorCriterios" parameterType="com.poketradecenter.Clase.CriteriosUsuario"  resultType="com.poketradecenter.Clase.Usuario">
    	SELECT * 
    	FROM Usuario
    	<where>
	        <if test="id != null">
	            AND id = #{id}
	        </if>
	        <if test="nombre != null and nombre != ''">
	            AND nombre = #{nombre}
	        </if>
	        <if test="email != null and email != ''">
	            AND email = #{email}
	        </if>
	        <if test="password != null and password != ''">
	            AND password = #{password}
	        </if>
	        <if test="icono != null">
	            AND icono = #{icono}
	        </if>
	        <if test="idJuego != null">
	            AND idJuego = #{idJuego}
	        </if>
    	</where>
    </select>

</mapper>