/*------------------------- CONTENIDO POPUPS --------------------------*/
.contenidoPopup {
    position: relative;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 20;
    width: 320px;
}

/*----------IMAGEN POPUPS ---------------*/
.imagen {
	width: 130px;
}

/*---------DIV INPUTS-------*/
.divInputs {
	margin-top: 10px;
}

/*---------INPUTS-------*/
.inputs {
    align-items: center;
    width: 90%;
    margin-top: 15px;
}

/*---------CONTENEDOR BOTONES POPUPS-------*/
.botonera {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

/*---------BOTONES POPUPS-------*/
.botones {
    width: 140px;
}