/* Fondo general con imagen y capa semitransparente */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('/paginaPrincipal/images/pokePortada.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
    position: relative;
}



