/*-----------------------------------POPUP BUSCADOR BARAJAS --------------------------------------*/
.popupTablaBarajasBuscador {
	display: flex;
    flex-direction: column;
    position: absolute;
	top: 95px;
    left: 50px;
    height: 35px;
    width: 685px;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 3;
}


.inputNombreBaraja {
    align-items: center;
	width: 660px;
    padding: 10px;
    margin-left: 0px;
    margin-top: -5px;
    border-radius: 10px;
    border: 2px solid #8EA0B8;
    font-weight: normal;
    font-size: 1em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.inputNombreBaraja:hover {
    border-color: #7A8BA3;
}

.inputNombreBaraja:focus {
	outline: none;
    border-color: #68768A;
}

/* -----------------------------------------POPUP TABLA BARAJAS--------------------------------------- */
.popupTablaBarajas {
	display: flex;
    flex-direction: column;
    position: absolute;
    top: 221px;
    left: 50px;
    height: 597px;
    width: 685px;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 70px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1;
}

.tablaCell {
    display: flex;
    position: absolute !important;
    align-items: center;
    gap: 15px;
    padding: 20px;
    font-size: 16px;
    pointer-events: none;
}

/* Imagen de la carta */
.tablaCell .fondo {
    position: absolute;
    left: -5px;
    top: -5px;
    width: 48%;
    height: 145%;
    object-fit: cover;
    z-index: 1;
}

.tablaCell .portada {
    width: 100px;
    margin-left: 55px;
    transform: rotate(8deg);
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: -10px;
    z-index: 2;
}

.tablaCell span {
	margin-top: -35px;
    margin-left: 65px;
    color: #68768A;
}

/* --------------------------- POPUP MOSTRAR BARAJA ----------------------------------------- */
.popupMostrarBaraja {
	display: flex;
    flex-direction: column;
    position: absolute;
    top: 95px;
    left: 839px;
    height: 724px;
    width: 984px;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 70px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mostrarCartas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    max-height: 642px;
    overflow-y: auto;
    padding: 10px;
    margin-top: 10px;
}

.carta {
  width: 225px;
  cursor: pointer;
  transition: transform 0.2s;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.carta:hover {
	transform: scale(1.03);
}

.botonEliminarBaraja {
	position: absolute;
    left: 436px;
    top: 727px;
    padding: 10px 20px;
    border: 2px solid #007bb5;
    border-radius: 30px;
    background-color: cornflowerblue;
    color: white;
    font-weight: normal;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.5s;
    transition: transform 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.botonEliminarBaraja:hover {
	transform: scale(1.03);
	border: 2px solid #005f87;
	background-color: #2F65C8; 
}

.textoCreador {
    display: flex;
    margin-left: 10px;
	color: #68768A;
}


/*---------------------------- POPUP CONFIRMACION ELIMINAR ----------------------------*/

.confirmar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.contenidoConfirmar {
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 350px;
}

.botoneraConfirmar {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-left: -20px;
}

.textoConfirmacion {
    display: flex;
    text-align: center;
	color: #68768A;
}

.botonEliminar {
    padding: 10px 20px;
    border: 2px solid #007bb5;
    border-radius: 30px;
    background-color: cornflowerblue;
    color: white;
    font-weight: normal;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.5s;
    transition: transform 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.botonEliminar:hover {
	transform: scale(1.03);
	border: 2px solid #005f87;
	background-color: #2F65C8;
}


.botonCancelar {
    padding: 10px 20px;
    margin: 0px 15px;
    border: 2px solid #B85C5C;
    border-radius: 30px;
    background-color: #E07A7A;
    color: white;
    font-weight: normal;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.5s;
    transition: transform 0.2s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

.botonCancelar:hover {
    transform: scale(1.03);
    border: 2px solid #9C4A4A;
    background-color: #C75C5C;
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

