/*-----------------------------------POPUP BUSCADOR BARAJAS --------------------------------------*/
.popupTablaBarajasBuscador {
	display: flex;
    flex-direction: column;
	top: 95px;
    left: 50px;
    height: 35px;
    width: 685px;
    padding: 30px;
    z-index: 3;
}

.contenidoBuscador {
	display: flex;
	margin-top: 8px;
}

.textoNombreCarta {
	position: absolute;
	top: 9px;
    left: 165px;
}

.inputNombreCarta {
    align-items: center;
	width: 425px;
    padding: 10px;
    margin-top: -5px;
}

.textoOrdenacion {
	position: absolute;
    top: 9px;
    left: 545px;
}

.botonesOrden {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.botonOrden {
    display: flex;
    width: 100px;
    margin-top: -5px;
    margin-left: 25px;
    padding: 5px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

/* -----------------------------------------POPUP TABLA BARAJAS--------------------------------------- */
.popupTablaBarajas {
	display: flex;
    flex-direction: column;
    top: 221px;
    left: 50px;
    height: 597px;
    width: 685px;
    padding: 30px;
    z-index: 1;
}

.tablaCell {
    display: flex;
    position: absolute !important;
    align-items: center;
    gap: 15px;
    padding: 20px;
    font-size: 16px;
    pointer-events: none;
}

/* Imagen de la carta */
.tablaCell .fondo {
    position: absolute;
    left: -72px;
    top: -5px;
	height: 137px;
    z-index: 1;
    object-fit: cover;
    clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
}

.tablaCell .portada {
    width: 100px;
    margin-left: 55px;
    transform: rotate(8deg);
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: -10px;
    z-index: 2;
}

.tablaCell span {
	margin-top: -35px;
    margin-left: 65px;
    color: #68768A;
}

.tabulator-cell {
    left: 15px;
    height: 135px !important;
    width: 635px !important;
    margin-top: 12px;
}

/* --------------------------- POPUP MOSTRAR BARAJA ----------------------------------------- */
.popupMostrarBaraja {
	display: flex;
    flex-direction: column;
    top: 95px;
    left: 839px;
    height: 724px;
    width: 984px;
    padding: 30px;
}

.mostrarCartas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    max-height: 642px;
    overflow-y: auto;
    padding: 10px;
    margin-top: 10px;
}

.carta {
  width: 225px;
  cursor: pointer;
  transition: transform 0.2s;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.carta:hover {
	transform: scale(1.03);
}

.btnEliminarBaraja {
	position: absolute;
    left: 436px;
    top: 727px;
    padding: 10px 20px;
}

.textoCreador {
    display: flex;
    margin-left: 10px;
}

/*---------------------------- POPUP CONFIRMACION ELIMINAR ----------------------------*/
.contenidoConfirmar {
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 369px;
}

.botoneraConfirmar {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.textoConfirmacion {
    display: flex;
    text-align: center;
}

.botonEliminar {
    width: 120px;
}