/* Variables globales */
:root {
    --altura-barra-superior: 4px;
    --altura-barra-menu: 66px;
    --separacion-barras: calc(var(--altura-barra-superior) + var(--altura-barra-menu));
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-weight: 600;
    min-width: 100vw;   /* ancho mínimo de la ventana */
    height: auto;
    min-height: 100vh;  /* altura mínima de la ventana */

    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    overflow: auto;     /* scroll solo si hace falta */
}

body.paginaPrincipalFondo {
    background-image: url('/paginaPrincipal/imagenes/pokePortada.jpg');
    position: relative;
}

body.fondo {
    background-image: url('/generico/imagenes/fondoApps.png');
    position: relative;
}

