/* Variables globales */
:root {
    --altura-barra-superior: 4px;
    --altura-barra-menu: 66px;
    --separacion-barras: calc(var(--altura-barra-superior) + var(--altura-barra-menu));
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-weight: 600;
    min-width: 100vw;   /* ancho mínimo de la ventana */
    height: auto;
    min-height: 100vh;  /* altura mínima de la ventana */

    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    overflow: auto;     /* scroll solo si hace falta */
}

body.paginaPrincipalFondo {
    background-image: url('/paginaPrincipal/imagenes/pokePortada.jpg');
    position: relative;
}

body.fondo {
    background-image: url('/generico/imagenes/fondoApps.png');
    position: relative;
}


/*------------------------------------------------------------POPUP CERRAR SESION ------------------------------------------------------*/

.cerrarSesion {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
}

/*------------------------- CONTENIDO POPUP CERRAR SESION --------------------------*/
.contenidoCerrarSesion {
    position: relative;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 20;
    width: 360px;
}

/*-------------------------LABEL POPUP CERRAR SESION ----------------------------------*/
.labelCerrarSesion {
	color: #68768A;
}


/*-------------------------BOTONERA POPUP CERRAR SESION-------------------------*/
.botoneraCerrarSesion {
	margin-top: 25px;
	display: flex;
	justify-content: center;
    margin-left: -18px;
}

/*-----------BOTONES POPUP CERRAR SESION---------*/
.botonCerrarSesion {
    padding: 10px 20px;
    border: 2px solid #007bb5;
    border-radius: 30px;
    background-color: cornflowerblue;
    color: white;
    font-weight: normal;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.5s;
    transition: transform 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.botonCerrarSesion:hover {
	transform: scale(1.03);
	border: 2px solid #005f87;
	background-color: #2F65C8; 
}

.botonCancelar {
	width: 143px;
    padding: 10px 20px;
    margin: 0px 15px;
    border: 2px solid #B85C5C;
    border-radius: 30px;
    background-color: #E07A7A;
    color: white;
    font-weight: normal;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.5s;
    transition: transform 0.2s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

.botonCancelar:hover {
    transform: scale(1.03);
    border: 2px solid #9C4A4A;
    background-color: #C75C5C;
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

/*--------------------------------------------------------------------------------------------------------------------------------------*/
/* Barras superior e inferior */
.barraSuperior,
.barraInferior {
    width: 100%;
    background-color: #8EA0B8;
    position: fixed;
}
.barraSuperior {
	height: var(--altura-barra-superior);
	top: 0;
	z-index: 1000;
}
.barraInferior {
	height: 4px;
	top: var(--separacion-barras);
	z-index: 1000;
}

/* Barra del menú (entre las barras) */
.barraMenu {
	height: var(--altura-barra-menu);
    top: var(--altura-barra-superior);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    left: 0;
    box-sizing: border-box;
    z-index: 11;
}

/* Contenedor del icono + texto */
.usuarioIzquierda {
    display: flex;
    align-items: center;
    gap: 15px; /* espacio entre icono y texto */
}

/* Ajustes del icono */
.iconoBarra {
    width: 48px;
    margin-left: 25px;
    border: 2px solid #8EA0B8;
    border-radius: 35px;
    transition: border-color 0.5s;
    transition: transform 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.iconoBarra:hover {
	color: #7A8BA3;
  	transform: scale(1.03);
}

/* Datos nombre usuario y id ptgcp */
.usuarioInfoNombre {
    margin-left: 20px;
    font-weight: 400;
    margin-top: -2px
}

.labelBarra {
	display: block;
	text-align: center;
	font-weight: bold;
    font-size: 1em;
    color: #68768A;
}

.usuarioInfoJuegoId {
    margin-left: 20px;
    font-weight: 400;
    margin-top: -2px
}

.usuarioInfoBarra {
    display: flex;
    justify-content: center;
    padding: 5px;
    border: 2px solid #8EA0B8;
    border-radius: 10px;
    transition: border-color 0.5s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: 2px;
}

.usuarioInfoBarra:hover {
    border: 2px solid #8EA0B8;
}

/*Emblemas barra*/
.emblemaBarra {
    width: 48px;
    margin-left: 25px;
    margin-top: 3px;
    border: 2px solid #8EA0B8;
    border-radius: 35px;
    transition: border-color 0.5s;
    transition: transform 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.emblemaBarra:hover {
	color: #7A8BA3;
  	transform: scale(1.03);
}

.botoneraBarra {
	margin-right: 20px;	
}

/*Estilos de iconos de font Awesome*/
.iconoFontAwesome {
  	font-size: 34px;
  	color: #8EA0B8;
  	cursor: pointer;
  	margin-left: 15px;
    border-radius: 35px;
    transition: transform 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.iconoFontAwesomeNoCircle {
  	font-size: 34px;
  	color: #8EA0B8;
  	cursor: pointer;
  	margin-left: 15px;
    border-radius: 35px;
    transition: transform 0.2s;
}

.iconoFontAwesome:hover {
  	color: #7A8BA3;
  	transform: scale(1.03);
}

.iconoFontAwesomeNoCircle:hover {
  	color: #7A8BA3;
  	transform: scale(1.03);
}

.titlePopupErrorConfirmacion {
	font-size: 1.125em;
	color: #68768A;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.botonAceptar {
    padding: 10px 20px;
    border: 2px solid #007bb5;
    border-radius: 30px;
    background-color: cornflowerblue;
    color: white;
    font-weight: normal;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.5s;
    transition: transform 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.botonAceptar:hover {
	transform: scale(1.03);
	border: 2px solid #005f87;
	background-color: #2F65C8;
}



/*-------------------------- ESTILOS GENERICOS ----------------------------------*/

/*-------------------------------- TABLAS GENERICAS ---------------------------------------------*/
.tabulator {
    overflow: hidden;
    border: 2px solid white !important;
    background-color: transparent !important;
}

.tabulator-row .tabulator-cell {
    border-right: 1px solid white !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    transition: transform 0.2s;
    user-select: none;
}

.tabulator-row .tabulator-cell:hover {
    transform: scale(1.03);
}

.tabulator-row {
	background-color: transparent !important;
}

.tabulator-row.tabulator-selectable:hover {
   background-color: transparent !important;
}

.tabulator .tabulator-tableHolder {
    scroll-behavior: smooth;
}
/*-------------------------------- BOTONERA ---------------------------------------------*/
.botonera {
	display: flex;
    justify-content: center;
}
/*-------------------------------- BOTONES ACEPTAR/CANCELAR ---------------------------------------------*/
.aceptar {
	margin: 0px 10px;
    padding: 10px 20px;
    border: 2px solid #007bb5;
    border-radius: 30px;
    background-color: cornflowerblue;
    color: white;
    font-weight: normal;
    font-size: 1em;
    cursor: pointer;
    transition: transform 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    user-select: none;
}

.aceptar:hover {
	transform: scale(1.03);
	border: 2px solid #005f87;
	background-color: #2F65C8;
}

.cancelar {
	margin: 0px 10px;
    padding: 10px 20px;
    border: 2px solid #B85C5C;
    border-radius: 30px;
    background-color: #E07A7A;
    color: white;
    font-weight: normal;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    user-select: none;
}

.cancelar:hover {
    transform: scale(1.03);
    border: 2px solid #9C4A4A;
    background-color: #C75C5C;
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}
/*-------------------------------- BOTONES SELECCIONAR ---------------------------------------------*/
.boton {
    padding: 5px;
    border: 2px solid #8EA0B8;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    user-select: none;
}

.boton:hover {
	transform: scale(1.03);
	border: 2px solid #7A8BA3;
}

.boton.seleccionada {
    background-color: #B0B0B0;
    border-color: #68768A;
}

.fuenteNormal {
	font-weight: 600;
}

/*-------------------------------- BOTONES NO SELECCIONAR ---------------------------------------------*/
.botonNoSeleccionar {
    padding: 5px;
    border: 2px solid #8EA0B8;
    border-radius: 10px;
    transition: transform 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    user-select: none;
}

.botonNoSeleccionar:hover {
	border: 2px solid #7A8BA3;
}
/*-------------------------------- LABELS ---------------------------------------------*/
.label {
	color: #68768A;
	user-select: none;
}

.labelRojo {
    color: red;
    font-size: 13px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    user-select: none;
}
/*-------------------------------- INPUTS ----------------------------------------*/
.input {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #8EA0B8;
    font-weight: normal;
    font-size: 1em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    user-select: none;
}

.input:hover {
    border-color: #7A8BA3;
}

.input:focus {
	outline: none;
    border-color: #68768A;
}
/*-------------------------------- POPUP ----------------------------------------*/

.popup {
    position: absolute;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
/*-------------------------------- POPUP EMERGENTES ----------------------------------------*/

.popupConfirmar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

