/* Variables globales */
:root {
    --altura-barra-superior: 4px;
    --altura-barra-menu: 66px;
    --separacion-barras: calc(var(--altura-barra-superior) + var(--altura-barra-menu));
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-weight: 600;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body.paginaPrincipalFondo {
    background-image: url('/paginaPrincipal/imagenes/pokePortada.jpg');
    height: 100vh;
    overflow: hidden;
    position: relative;
}

body.fondo {
    background-image: url('/generico/imagenes/fondoApps.png');
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/* Estilo del popup centrado */
.popup {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}


.popup-content {
    position: relative;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 20;
    width: 300px;
    border-radius: 12px;
}

/* Títulos del popup */
.popup-content h2 {
    margin-top: 0;
    font-size: 2em;
    font-weight: 600;
    color: #333;
}

/* Inputs */
.popup-content input,
.popup-content select {
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    display: block;
    border-radius: 8px;
    border: 2px solid #008CBA;
    font-weight: normal;
    font-size: 1em;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Cuando seleccionas el input */
.popup-content input:focus,
.popup-content select:focus {
    border-color: #007bb5;
    box-shadow: 0 0 5px rgba(0, 123, 181, 0.5);
}

/* Botones */
.popup-content button {
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 8px;
    background-color: #008CBA;
    color: white;
    font-weight: normal;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.popup-content button:hover {
    background-color: #007bb5;
}

label {
    font-family: Verdana, Arial, sans-serif;
    font-weight: normal;
    font-size: 0.8em;
}

/* Barras superior e inferior */
.barraSuperior,
.barraInferior {
    width: 100%;
    height: 4px;
    background-color: #008CBA;
    position: fixed;
    left: 0;
    z-index: 10;
}
.barraSuperior {
	height: var(--altura-barra-superior);
	top: 0; 
}
.barraInferior {
	height: 4px;
	top: var(--separacion-barras);
}

/* Barra del menú (entre las barras) */
.barraMenu {
	height: var(--altura-barra-menu);
    top: var(--altura-barra-superior);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    left: 0;
    box-sizing: border-box;
    z-index: 11;
}

/* Contenedor del icono + texto */
.usuarioIzquierda {
    display: flex;
    align-items: center;
    gap: 10px; /* espacio entre icono y texto */
}

/* Ajustes del icono */
.iconoUsuario {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* Texto usuario */
.usuarioInfo {
    display: flex;
    flex-direction: column;
}

.usuarioInfo {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

/*Estilos de iconos de font Awesome*/
.iconoFontAwesome {
  font-size: 32px;
  color: #008CBA;
  cursor: pointer;
  transition: color 0.2s ease;
}

.iconoFontAwesome:hover {
  color: #007bb5;
}

.swal-confirm-bold {
    font-family: Arial, sans-serif;
    font-weight: normal;
}
